<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener class-name="AcademicProject.Listeners"/>
</listeners>
  <test thread-count="5" name="HomePage">
    <classes>
      <class name="AcademicProject.HomePage"/>
</classes>
 </test> 
      <test thread-count="5" name="ValidateTitle">
    <classes> 
      <class name="AcademicProject.ValidateTitle"/>
          </classes>        
        </test>         
      <test thread-count="5" name="NavigateTabs">
      <classes>
      <class name="AcademicProject.NavigateTabs"/>
    </classes>
  </test> 
  </suite> <!-- Suite -->
